<div class="row">
  <div class="col-4 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="login()">
          <div class="form-group col-12">
            <label class="form-label">Username</label>
            <app-error-field [control]='username' [errorMessages]='validationMessages.username' />
            <input type="text" class="form-control" formControlName="username"/>
          </div>
          <div class="form-group col-12">
            <label class="form-label">Password</label>
            <app-error-field [control]='password' [errorMessages]='validationMessages.password' />
            <input type="password" class="form-control" formControlName="password"/>
          </div>

          <div class="form-group col-12 mt-2">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="reset" class="btn btn-primary m-lg-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
