<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="car.image" class="card-img-top" src="{{car.image}}">
    <img *ngIf="!car.image" class="card-img-top" src="{{car.image}}">
    <ul class="member-icons list-inline text-center animate">
      <li class="list-inline-item">
          <button class="btn btn-primary" routerLink="/cars/details/{{car._id}}"><i class="fa-solid fa-bars"></i> Details</button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5>{{car.title}}</h5>
    <p>{{(car.description | slice: 0 : 75) + (car.description.length > 70 ? '...' : '')}}</p>
    <h5>{{(car.price | currency: 'USD')}}</h5>
  </div>
</div>

